{% extends 'layout/default.twig' %}

{% block content %}
  <div class="page-chart">
    {% if buttonBack == TRUE %}
      <a class="page-chart__link-back" href="/">Вернуться назад</a>
    {% endif %}
    <div class="page-chart__col-left__users">
      <h3>Список пользователей</h3>
      <div class="page-chart__col-right__users__array">
        {% for arrayUsers in arrayUsers %}
          <p>
            <a href="/Chat?login={{ arrayUsers.login }}&typeForm=search">
              {{ arrayUsers.login }} [{{ arrayUsers.countMsg }}]
            </a>
          </p>
        {% endfor %}
      </div>
    </div>
    <div class="page-chart__col-left__msg">
      <h3>{{ title }}</h3>

      <div id="page-chart__col-left__msg__wrap_id" class="page-chart__col-left__msg__wrap">

        {% for arrayFeed in arrayFeed %}

          {% if arrayFeed.direction == 'left' %}
            <div class="msg-left">
              <span>
               Я ({{ arrayFeed.date }}):
              </span>
              <span id="page-chart__col-left__msg__wrap_msg_id">{{ arrayFeed.id }}</span>
              <div>
                {{ arrayFeed.comment }}
              </div>
            </div>
          {% endif %}

          {% if arrayFeed.direction == 'right' %}
            <div class="msg-right">
              <span>
                {{ loginUser }} ({{ arrayFeed.date }}):
              </span>
              <span id="page-chart__col-left__msg__wrap_msg_id">{{ arrayFeed.id }}</span>
              <div>{{ arrayFeed.comment }}</div>
            </div>
          {% endif %}

        {% endfor %}

      </div>
      <script type="text/javascript">
        var block = document.getElementById("page-chart__col-left__msg__wrap_id");
        block.scrollTop = block.scrollHeight;
      </script>

      {% if formSendMsg == TRUE %}
        <form class="page-chart__col-left__msg__form" action="Chat" method="GET">
          <div>
        <textarea name="textMsg"
                  rows="5" cols="40" placeholder="Введите сообщение ..."></textarea>
          </div>
          <input type="hidden" name="typeForm" value="msg">
          <input type="hidden" name="to" value="{{ to }}">
          <input type="hidden" name="from" value="{{ from }}">
          <input type="hidden" name="loginUser" value="{{ loginUser }}">
          <button type="submit">Отправить</button>
        </form>
      {% endif %}
    </div>

  </div>
  <script src="/scripts/chatScripts.js"></script>
{% endblock %}

